@model IEnumerable<BlockIndicate.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BinanceApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BinanceApiSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BittrexApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BittrexApiSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountTrial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinanceApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinanceApiSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BittrexApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BittrexApiSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTrial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrialStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FirstName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FirstName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FirstName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
