<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sample</title>

    <link rel="stylesheet" href="~/lib/simple-sidebar/css/simple-sidebar.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-
              property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-
              version="true" />
    </environment>
    <style>
        #wrapper #sidebar-wrapper {
            width: 50px;
        }

        #wrapper .sidebar-nav {
            display: none;
        }

        #wrapper.toggled .sidebar-nav {
            display: block;
        }

        a#menu-toggle {
            display: inline-block;
            width: 100%;
            line-height: 100%;
            padding: 0;
            margin: 0;
            color: dodgerblue;
        }

        .cn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sidebar-nav > .sidebar-brand-mini {
            height: 45px;
            font-size: 15px;
            line-height: 20px;
        }

            .sidebar-nav > .sidebar-brand-mini a {
                color: #999999;
            }

                .sidebar-nav > .sidebar-brand-mini a:hover {
                    color: #fff;
                    background: none;
                }

        .notifyTelegram {
            background-color: #282741;
            float: right;
            background-image: url("https://i.imgur.com/2XQdnOD.png");
            background-size: cover;
            color: white;
            padding: 0.001em;
            padding-bottom: 2em;
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding-right: 2em;
            outline: none;
        }

            .notifyTelegram:hover, .notifyTelegram:focus {
                background-image: url("https://i.imgur.com/BlhsoAw.png");
            }

        .notifyEmail {
            background-color: #282741;
            float: left;
            background-image: url("https://i.imgur.com/jccdIUN.png");
            background-size: cover;
            color: white;
            padding: 0.001em;
            padding-bottom: 2em;
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding-right: 2em;
            outline: none;
        }

            .notifyEmail:hover, .notifyEmail:focus {
                background-image: url("https://i.imgur.com/gavngxR.png");
            }
    </style>
</head>
<body>
    @*------- Top Bar --------*@
    @*<div style="background-color:#F2F2F2; height:5em; position: absolute; top:0; right:0; left:0; float:right">

        </div>*@
    @*------- Side Bar --------*@
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper" style="position: fixed; top:0; background-color: #282741">
            @*<a id="menu-toggle" href="#menu-toggle" class="btn btn-secondary">三</a>*@

            <ul class="sidebar-nav" style="margin-top:0.3em;">
                @*<li class="sidebar-brand">*@
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://cdn.worldvectorlogo.com/logos/titanium-blockchain.svg" style="height:50px; width:50px; margin-left:1em" />
                    </div>
                    <div class="col-md-8" style="padding:0px;">
                        <div style="float:left">
                            <h3 style="color:white;" class="cn">Block Indicate</h3>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:1em; padding-bottom:1em;">
                    <div class="col-md-6">
                        <div>
                            <center>
                                <button type="submit" class="notifyTelegram" id="Telegram_Notify"></button>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <center>
                                <button type="submit" class="notifyEmail" id="Email_Notify"></button>
                            </center>
                        </div>
                    </div>
                </div>

                <li class="sidebar-brand">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/TfdU6oX.png" style="height:35px; width:35px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/4yZAMIn.png" style="height:35px; width:35px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="Dashboard" asp-action="Index">Smart Trade</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/uI8lgRq.png" style="height:35px; width:35px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="TradingBot" asp-action="Index">Trading Bot</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand-mini">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/rdKxLcA.png" style="height:20px; width:20px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="TradingBot" asp-action="ActiveTrades">Active Trades</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand-mini">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/dgT4Z8E.png" style="height:20px; width:20px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="TradingBot" asp-action="HistoricalTrades">Historical Trades</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/32owlQg.png" style="height:35px; width:35px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="Exchanges" asp-action="Create">Exchanges</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-brand">
                    <div class="row">
                        <div class="col-md-4" style="padding:0px">
                            <div style="float:right; padding:0px">
                                <img src="https://i.imgur.com/rxD5InL.png" style="height:35px; width:35px" />
                            </div>
                        </div>
                        <div class="col-md-8" style="padding:0px">
                            <div style="float:left; padding:0px">
                                <a asp-area="" asp-controller="Doji" asp-action="Index">Doji Finder</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div>
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer></footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn &&
     window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>

<div class="modal fade" id="myTelegramNotifications" role="dialog" data-url='@Url.Action("TelegramNotifications", "Notifications")'></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Telegram_Notify').click(function () {

            var url = $('#myTelegramNotifications').data('url');
            $.get(url, function (data) {

                $("#myTelegramNotifications").html(data);
                $("#myTelegramNotifications").modal('show');
            });
        });

    });
</script>

<div class="modal fade" id="myEmailNotifications" role="dialog" data-url='@Url.Action("EmailNotifications", "Notifications")'></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Email_Notify').click(function () {

            var url = $('#myEmailNotifications').data('url');
            $.get(url, function (data) {

                $("#myEmailNotifications").html(data);
                $("#myEmailNotifications").modal('show');
            });
        });

    });
</script>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</html>