@model Block_Indicate.Models.TradeBotViewModel
@{
    ViewData["Title"] = "ActiveTrades";
}


<style>
    .dropbtn {
        background-color: #ffffff;
        background-image: url("https://pngimage.net/wp-content/uploads/2018/06/logo-menu-png-6.png");
        background-size: cover;
        color: white;
        padding: 1em;
        padding-bottom: 1.5em;
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding-right: 2em;
        outline: none;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-image: url("https://i.imgur.com/ZfcE5MY.png");
        }

    .dropdown {
        padding-top: 0.9em;
        padding-right: 2em;
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #282741;
        border-radius: 20px;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
    }

        .dropdown-content a {
            font-size: 1.2em;
            color: #999999;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        color: white;
    }

    .show {
        display: block;
    }
    #dashdiv {
        border-radius: 10px;
        background-color: #dedede;
        width: 100%;
        height: 300px;
        padding-bottom: 2em;
    }

    #spanFont {
        font-size: 1.2em;
    }

    h3 {
        padding-top: 1em;
    }

    #leftPad {
        padding-left: 1em;
    }

    #align-center {
        display: flex;
        align-items: center;
    }

    table {
        overflow-y: hidden;
        height: 200px;
        display: block;
        border-collapse: inherit;
        border-spacing: 3em;
        padding-top: 0px;
    }

    td {
        width: 10%;
    }
    /*#F2F2F2*/
</style>
<div style="height:5em; position: absolute; top:0; right:0; left:17.8em; border-bottom:2px solid black">
    <div class="row">
        <div class="col-md-2" style="height:10px">
            <div style="padding-top:1.5em">
                <span style="padding-left:2em"><span style="font-size:1.5em">BTC: </span><span style="font-size:1.2em">@Html.Raw(Model.EstimatedBTC.ToString("0.######"))</span></span>
            </div>
        </div>
        <div class="col-md-2" style="height:10px; padding:0px">
            <div style="padding-top:1.5em; float:left">
                <span><span style="font-size:1.5em">USD: </span><span style="font-size:1.2em">$@Html.Raw((Model.EstimatedBTC * Convert.ToDecimal(Model.CurrentPrices["btc"])).ToString("0.##"))</span></span>
            </div>
        </div>
        <div class="col-md-2" style="height:10px">
            <div style="margin-top:1.5em; float:right">
                <span><strong style="font-size:1.5em;">BTC</strong><span style="font-size:1.5em"> / </span><span style="font-size:1.5em">Bitcoin</span><span style="font-size:1.5em; color:green"><strong>&nbsp;&nbsp;&nbsp;&nbsp;$@Html.Raw(Model.CurrentPrices["btc"])</strong></span></span>
            </div>
        </div>
        <div class="col-md-2" style="height:10px">
            <div style=" margin-top:1.5em">
                <span style=" vertical-align:middle"><strong style="font-size:1.5em;">ETH</strong><span style="font-size:1.5em"> / </span><span style="font-size:1.5em">Ethereum</span><span style="font-size:1.5em; color:deepskyblue"><strong>&nbsp;&nbsp;&nbsp;&nbsp;$@Html.Raw(Model.CurrentPrices["eth"])</strong></span></span>
            </div>
        </div>
        <div style="padding:0px; height:10px" class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <div style=" padding-top:0.5em">
                            <img style="height:55px; width:55px; float:right;" src="https://i.imgur.com/PxtEzu3.png" />
                        </div>
                    </center>
                </div>
                <div class="col-md-4">
                    <div style=" margin-top:1.5em;">
                        <span style="font-size:1.5em;">@Html.Raw(Model.Customer.ApplicationUser.Email)</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn" style="width:2em; height:2em"></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a asp-area="" asp-controller="Customers" asp-action="Profile">Profile</a>
                            <a asp-area="" asp-controller="Customers" asp-action="Billing">Billing</a>
                            <a asp-area="" asp-controller="Customers" asp-action="Settings">Settings</a>
                            <a asp-area="" asp-controller="Identity/Account/" asp-action="Login">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <h2>Active Trades</h2>
</center>
<hr style="padding-bottom:0px" />
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        @foreach (var row in Model.Trades)
        {

            <div class="row">
                <div class="col-md-3" style="padding:0px;height:100px;">
                    <div class="row">
                        <div class="col-md-4">
                            <span style="font-size:1em"><strong>@Html.Raw(row.Name)</strong></span>
                            <div style="padding-top:0.3em">
                                <h3 style="float:left; padding:0px">@Html.Raw(row.Symbol)</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="padding-top:3.5em">
                                <center>
                                    <p>@Html.Raw(row.Amount.ToString("0.###########"))</p>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="padding-top:3.5em">
                                <span style="float:right; ">@Html.Raw(row.StopLoss.ToString("0.###############"))</span>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        @if (row.CurrentPrice - row.BuyPrice < 0)
                        {
                            <div class="col-md-4" style="padding-right:0px">
                                <div style="height:15px; float:right; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%">
                                    <span style="float:right; color:red">@Html.Raw(Decimal.Round(((row.CurrentPrice - row.BuyPrice) / row.BuyPrice * 100), 2).ToString("0.#############"))%</span><br />
                                    <span style="float:right;">Price:@Html.Raw(row.CurrentPrice.ToString("0.###############"))</span>
                                </div>
                            </div>
                            <div class="col-md-8" style="padding-left:0px">
                                <div style="height:15px; float:left; width:0%; padding-left:0px">

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4" style="padding-right:0px">
                                <div style="height:15px; float:right; width:0%">

                                </div>
                            </div>
                            <div class="col-md-8" style="padding-left:0px">
                                <div style="height:15px; float:left; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%; padding-left:0px">
                                    <span style="float:right; color:green"> +@Html.Raw(Decimal.Round(((row.CurrentPrice - row.BuyPrice) / row.BuyPrice * 100), 2).ToString("0.#############"))%</span><br />
                                    <span style="float:right;">Price:@Html.Raw(row.CurrentPrice.ToString("0.###############"))</span>
                                </div>
                            </div>
                        }
                    </div>
                    <br />
                    @if (row.CurrentPrice - row.BuyPrice < 0)
                    {


                        <div style="width:100%; padding-top:5px;">
                            <div class="row">
                                <div class="col-md-4" style="padding-right:0px">
                                    <div style="height:15px; border-left:2px solid gray; float:right; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%">

                                    </div>
                                </div>
                                <div class="col-md-8" style="padding-left:0px">
                                    <div style="height:15px; border-right:0px solid gray; float:left; width:0%">

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%; padding-top:5px;">
                            <div class="row">
                                <div class="col-md-4" style="padding-right:0px">
                                    <div style="height:15px; border-left:0px solid gray; float:right; width:0%">

                                    </div>
                                </div>
                                <div class="col-md-8" style="padding-left:0px">
                                    <div style="height:15px; border-right:2px solid gray; float:left; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%">

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (row.CurrentPrice - row.BuyPrice < 0)
                    {
                        <div style="width:100%; height:10px; border:1px solid lightgray; border-radius:5px;">
                            <div class="row">
                                <div class="col-md-4" style="padding-right:0px">
                                    <div style=" height:8px; background-color:#da1e1e; border-radius:5px 0px 0px 5px; float:right; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%">

                                    </div>
                                </div>
                                <div class="col-md-8" style="padding-left:0px">
                                    <div style="border-left:4px solid lightgray; height:8px">
                                        <div style=" height:8px; background-color:#60bb4b; border-radius:0px 5px 5px 0px; float:left; width:0%;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%; height:10px; border:1px solid lightgray; border-radius:5px;">
                            <div class="row">
                                <div class="col-md-4" style="padding-right:0px">
                                    <div style=" height:8px; background-color:#da1e1e; border-radius:5px 0px 0px 5px; float:right; width:0%">

                                    </div>
                                </div>
                                <div class="col-md-8" style="padding-left:0px">
                                    <div style="border-left:4px solid lightgray; height:8px">
                                        <div style=" height:8px; background-color:#60bb4b; border-radius:0px 5px 5px 0px; float:left; width:@Decimal.Round(row.CurrentPercentageResult).ToString("0.#############")%;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-md-3" style="padding:0px;height:100px;">
                    <br />
                    <p style="float:left; padding-top:2.1em">@Html.Raw(row.TakeProfit.ToString("0.###############"))</p>
                    <div class="row">
                        <div class="col-md-6" style="padding-top:1.5em; float:right">
                            <center>
                                @Html.ActionLink("Sell Market", "SellMarket", "TradingBot", new { tradeId = row.Id }, new { @class = "btn btn-warning btn-large", style = "width:100px; float:right;" })
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-1">

    </div>
</div>
<hr />


